[user]
	email = fwfurtado@gmail.com
	name = Fernando
[filter "lfs"]
	smudge = git-lfs smudge --skip %f
	process = git-lfs filter-process --skip
	clean = git-lfs clean -- %f
	required = true
[url "git@github.com:"]
	insteadOf = https://github.com/
[includeIf "gitdir:/home/fwfurtado/dev/nu/"]
	path = /home/fwfurtado/.nugitconfig
[commit]
	gpgsign = true
[init]
	defaultBranch = main
[filesystem "AdoptOpenJDK|11.0.10|tmpfs"]
	timestampResolution = 5000 nanoseconds
	minRacyThreshold = 5682 microseconds
